html body{
  min-width: 100%;
  min-height: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #696969;
}
/*nav top*/
.nav-ul {
display: inline;
width: 100%;
z-index: 1;
}

ul{
  list-style-type: none;
  position: static;
  float: right;
  height: 50px;
  width: 245px;
  padding-top: 10px;
}

li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
}

li a{
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #404040;
  font-size: small;
  font-family: tahoma, sans-serif;
}

.icon{
vertical-align: middle;
width: 18px;
height: auto;
}

.user {
  vertical-align: middle;
  width: 20px;
  height: auto;
  padding: 5px;
  border-radius: 90%;
}
/*middle page*/

.logo {
width: 350px;
margin: auto;
padding-top: 10%;
display: block;
}

.mid-container {
  text-align: center;
  display: block;
}

.search-bar input{
width: 550px;
padding: 15px;
border: 1px;
box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

}

.search-bar input:hover {
  box-shadow: 0px 4px 4px 0px, #686868;

}


.buttons input {
  position: relative;
  background-color: #F0F0F0;
  border: none;
  border-color: #F0F0F0;
  padding: 12px 22px 12px 22px;
  cursor: pointer;
  font-weight: bold;
  color: #686868;
  margin-right: 5px;
  margin-top: 20px;
  border-radius: 2px;
}

.buttons input:hover {
color: black;
box-shadow: 0px 0px 0.5px 0.5px #686868;
}

footer {
text-decoration-style: none;
background-color: #f2f2f2;
position: fixed;
right: 0;
bottom: 0;
left: 0;
display: block;
border-top-style: solid;
border-top-width: 1px;
border-top-color: #d8d8d8;

}

footer nav {
  width: 100%;
  background-color: #F0F0F0;
  border-top-style: solid #f2f2f2;
  padding: 5px 0px 5px 0px;
  color: #696969;
  font-size: small;
  font-family: tahoma, sans-serif;
}

footer nav:last-child {
  padding: 20px 0px 20px 0px;
  margin: 0px 0px 13px 0px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #d8d8d8;
  text-decoration-style: none;
}

footer p{
  margin-left: 40px;
  font-size: small;
}

footer a {
  padding-right: 20px;
  font-size: 12.5px;
}

.footer-left {
  float: left;
  padding: 0px 30px 0px 40px;
  margin-right: 20px;

}

.footer-right {
  float: right;
  padding: 0px 30px 0px 40px;
  margin-left: 20px;
}
